body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #99dff47c;
}

.container {
    width: 300px;
    height: 440px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
}

.intro-text p{
    margin: 7px 0;
    font-size: 13px;
    color: rgb(47, 46, 46);
    padding: 0 5px 0 0;
}

form {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form input {
    padding: 12px 7px;
    outline: none;
    border: 1px solid #8c8f94;
    font-family: 'Poppins', sans-serif;
}

form input:focus {
    border-color: #4a6267;
}

.check-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.check-box label {
    font-size: 13px;
    padding: 0 3px;
}

form button {
    border: none;
    outline: none;
    margin-top: 5px;
    padding: 11px 0;
    background: #99dff47c;
    color: rgb(78, 78, 78);
    font-size: 18px;
    box-shadow: 0 7px 15px rgba(22, 5, 107, 0.338);
    font-family: 'Poppins', sans-serif;
}
